[include]
path = ~/.gitconfig.user

[alias]
st = status --branch --short
ci = commit
co = checkout
br = branch
unstage = reset HEAD --
log1 = log --pretty=oneline
tree = log --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
ui = auto
[core]
editor = vim
[pull]
rebase = true
[push]
default = simple

################################
### Configure git-delta
################################
[pager]
diff = delta
log = delta
reflog = delta
show = delta

[interactive]
diffFilter = delta --color-only

[delta]
syntax-theme = Dracula
plus-style = syntax "#003800"
minus-style = syntax "#3f0001"
navigate = true
line-numbers = true
side-by-side = false

features = side-by-side line-numbers decorations
whitespace-error-style = 22 reverse

[delta "decorations"]
commit-decoration-style = bold yellow box ul
file-style = bold yellow ul
file-decoration-style = none

################################
### Old stuff
################################
# [merge]
# 	keepBackup = false
# 	tool = p4merge

# [mergetool]
# 	prompt = false

# [mergetool "p4merge"]
# 	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
# 	keepTemporaries = false
# 	trustExitCode = false
# 	keepBackup = false

# [diff]
# 	tool = p4merge

# [difftool]
# 	prompt = false

# [difftool "p4merge"]
# 	cmd = p4merge "$LOCAL" "$REMOTE"
# 	keepTemporaries = false
# 	trustExitCode = false
# 	keepBackup = false
[init]
	defaultBranch = main
[rerere]
	enabled = 1
