.gitconfig.user

xmonad/.xmonad/xmonad.o
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad-x86_64-linux

lvim/.config/lvim/plugin/packer_compiled.lua
nvim/.config/nvim/plugin

tmux/.tmux


# Fish
fish/.config/fish/fishd.*
fish/.config/fish/fish_variables
